*{
    margin: 0;
    padding: 0;
}

body{
}

/*Style Formulaire*/
.formular-connexion{
}
.formular-connexion form{
    margin: 200px auto;
    width: 400px;
    height: 250px;
    text-align: center;
}
.formular-connexion form h1{
    margin-top: 40px;
}
.formular-connexion form input{
    margin-top: 15px;
}

.formular-connexion form input{
}

/**** BEHÄLTER ***/

.container{
    width: 60%;
    height: 750px;
    border: 1px solid black;
    margin: 5% auto;
    position: relative;
}

header{
    background-color: #12123d;
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 80px;
}

header .responsiv-button span{
    display: block;
    width: 50px;
    height: 5px;
    background-color: white;
    margin-top: 6px;
}

header .responsiv-button {
    margin: 20px 20px 20px 20px;
}

header .title-and-nav{
    margin-top: 8px;
}

header .title-and-nav nav ul li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

header .title-and-nav nav ul li a{
    text-decoration: none;
    color: white;
}

/***** MAIN SEITE *****  */

.stamp-and-terminal{
    margin-top: 30px;
}
.stamp-and-terminal .stamp {
    margin: 10px auto;
    width: 90%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: black;

}

.stamp-and-terminal .terminal{
    margin: 30px auto;
    border: 1px solid black;
    width: 90%;
}

.stamp button{
    margin: 15px;
    width: 100px;
    height: 100px;
}

/* ***** RESPONVIE LINKE SEITE */

.resp-menu-left{
    position: absolute;
    top: 0px;
    width: 30%;
    height: 100%;
    z-index: 10000;
    background-color: #2a2e3d;
    display: none;
}

.resp-menu-left a{
    color: white;
    text-decoration: none;
}

.resp-menu-left .top{
    margin: 25px;
    color: white;
}

.resp-menu-left .top h2{
    margin-bottom: 30px;
}
.resp-menu-left .top span{
    margin-right: 5px;
}

.resp-menu-left .bottom{
    margin: 25px;
    position: absolute;
    bottom: 0px;
}

.resp-menu-left p{
    margin-top: 10px;
}

/* *****RESPONSIVE RECHTE SEITE */

.resp-menu-right{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 28%;
    height: 100%;
    z-index: 10000;
    background-color: #2a2e3d;
    color: white;
    padding-left: 25px;
    display: none;
}

.resp-menu-right h2{
    margin-top: 25px;
    margin-bottom: 25px;
}

.resp-menu-right p{
    margin-bottom: 6px;
}

/* ******* Profil Seite-style ******* */

.mitarbeiterDaten{
    margin: 30px 0px 0px 30px;
    padding-bottom: 20px;
    padding-top: 13px;
    padding-left: 13px;
    width: 60%;
    background-color: #e7f5e7;
}

.mitarbeiterDaten .nameContainer{
    display: flex;
    flex-wrap: wrap;
}

.mitarbeiterDaten .nameContainer #Nachname{
    margin-left: 70px;
}

.mitarbeiterUrlaub{
    background-color: #e7f5e7;
    padding-top: 10px;
    padding-left: 13px;
    margin: 40px 0px 0px 30px;
    width: 60%;
    height: 160px;
}

.mitarbeiterUrlaub p{
    margin: 3px;
}

/* **** FOOTER */
footer{
    background-color: #12123d;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
}

footer p{
    text-align: center;
    margin-top: 20px;
    color: white;
}